body{
    margin: 0;
    font-family: sans-serif;
}

.galeria{
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 10px;
}
.galeria__img{
    max-width: 80%;
}

@media screen and (min-width: 1000px) {
    .galeria{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width: 1700px) {
    .galeria{
        grid-template-columns: repeat(5,1fr);
    }
}

