*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1.5rem;
    margin: auto;
}
.card{

    box-shadow: 0 0 15px #444;
    text-align: center;
    border-radius: 1rem;
    padding: .5rem;
    background-color: #f3ecde;
}

.card img{
    max-width: 100%;
    border-radius: 50%;
}
@media screen and (min-width: 1279px) {
    body{
        background-image: url('../img/warhammer-40k-wallpaper.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .contenedor{
        gap: .5rem;
        max-width: 80svw;
    }
    .card{
        padding: .5rem;
        max-width: 20%;
    }
}